.bn5 {
  padding: 0.6em 2em;
  margin: 10px;
  border: none;
  outline: none;
  font-size: 100%;
  color: #05ff2e;
  background: #11f066;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 1px solid #05ff2e;
  width: auto;
  text-align: center;
}

.bn5:before {
  content: "";
  background: linear-gradient(
    45deg,
    #03ff42,
    #4eff08,
    #00ffd5,

  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn5:active {
  color: rgb(255, 255, 255);
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";

  color: rgb(0, 255, 42);
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.bn6 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  font-size: 100%;
  color: #ff0000;
  background: rgb(245, 79, 79);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  border: 1px solid #ff0000;
  width: auto;
}

.bn6:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0303,
    #f08c19,
    #e4400e,

  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.bn6:active {
  color: rgb(255, 255, 255);
}

.bn6:active:after {
  background: transparent;
}

.bn6:hover:before {
  opacity: 1;
}

.bn6:after {
  z-index: -1;
  content: "";

  color: rgb(255, 255, 255);
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ffffff;
  left: 0;
  top: 0;
  border-radius: 10px;
}
